.DS_Store

# All the data
in/test/test_images/
in/test/test_metadata/
in/test/test_sentiment/
in/train/train_images/
in/train/train_metadata/
in/train/train_sentiment/
in/zip/

# pycache
src/__pycache__/
src/tests/__pycache__/